.App{
  display: flex;
  flex-direction: column;
}

.header{
  height: 50px;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}